@import "../../styles/shared/internal-app";
@import "../../styles/loader";

.innerApp {
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 100%;
    position: absolute;
    left: calc(50% - min(768px, 100vw)/2 + 22px);
    top: 18px;
    width: calc(100% - 44px);
    height: calc(100% - 36px);
}

.innerAppPage {
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 100%;
    position: absolute;
    left: 22px;
    left: calc(50% - min(768px, 100vw)/2 + 22px);
    top: 18px;
    width: calc(100% - 44px);
    height: calc(100% - 36px);
    pointer-events: none;

    .settings-pages {
        flex-grow: 1;
        height: 0px;
        //perspective: var(--flow-perspective);
        transform-style: preserve-3d !important;

        .settings-pages-container {
            transform-style: preserve-3d !important;
            height: 100%;

            .settings-page-2 {
                transform-style: preserve-3d;
                transition: opacity .25s cubic-bezier(0.075, 0.82, 0.165, 1);
                height: 100%;
                float: left;
                width: calc(100% - 22px * 0);
                opacity: 0;
                overflow: hidden;
                --page-swipe-translate: 0px;
                animation: page-swipe-translate .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                perspective: var(--flow-perspective);

                @keyframes page-swipe-translate {
                    from {
                        transform: translate(var(--page-swipe-translate));
                    }

                    to {
                        transform: translate(0px);
                    }
                }

                opacity: 1;


                p.groove-list-view-item-description {
                    animation: groove-list-view-item-description-page-skew .75s cubic-bezier(0.075, 0.82, 0.165, 1);

                    @keyframes groove-list-view-item-description-page-skew {
                        from {
                            transform: translateX(calc(var(--page-swipe-direction) * 150px));
                        }

                        to {
                            transform: translateX(0px);
                        }
                    }

                }
            }
        }
    }

    &:not(.shown-page):not(.shown-page-no-anim) {
        pointer-events: none !important;

        * {
            pointer-events: none !important;
        }
    }
}

body {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.shown {
        .innerApp {
            animation: app-intro-animation .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards, app-intro-skew .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        }

        div.groove-list-view {
            &.skew {
                div.groove-list-view-item {
                    opacity: 0;
                    animation: app-intro-animation .5s calc(var(--index)*.05s) cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
                }
            }
        }
    }

    @keyframes app-intro-animation {
        0% {
            transform: rotateY(75deg) translateX(100px);
            transform-origin: 0px 50%;
            opacity: 0;

        }

        100% {
            transform: rotateY(0deg) translateX(0px);
            ;
            transform-origin: 0px 50%;

            opacity: 1;
        }
    }

    @keyframes app-intro-animation-2 {
        0% {
            transform: rotateY(-75deg) translateX(-100px);
            transform-origin: 0px 50%;
            opacity: 0;

        }

        100% {
            transform: rotateY(0deg) translateX(0px);
            ;
            transform-origin: 0px 50%;

            opacity: 1;
        }
    }

    &.soft-exit {
        animation: app-outro-animation .15s cubic-bezier(0.83, 0.00, 0.92, 0.18) forwards;
    }

    &.soft-exit-home {
        animation: app-outro-animation-2 .15s cubic-bezier(0.83, 0.00, 0.92, 0.18) forwards;
    }

    @keyframes app-outro-animation {
        to {
            transform: rotateY(150deg) translateX(200px);
            transform-origin: 0px 50%;
            opacity: 0;

        }

        from {
            transform: rotateY(0deg);
            transform-origin: 0px 50%;

            opacity: 1;
        }
    }

    @keyframes app-outro-animation-2 {
        to {
            transform: translateX(-25vw) rotateY(-30deg);
            transform-origin: 0px 50%;
            opacity: 0;

        }

        from {
            transform: rotateY(0deg);
            transform-origin: 0px 50%;

            opacity: 1;
        }
    }
}

h1.app-title {
    text-transform: uppercase;
    margin: 0px;
    font-size: 23px;
    font-weight: 400;
}

div.app-tabs {
    margin-bottom: 20px;
    --duration: 0s;
    display: flex;
    flex-direction: row;
    text-transform: lowercase;
    font-size: 66px;
    font-weight: 300;
    margin-top: -5px;
    margin-left: -22px;
    max-width: 100vw;
    padding-left: 22px;
    width: 100vw;
    overflow: hidden;

    p {
        white-space: nowrap;
        transition: transform var(--duration) cubic-bezier(0.075, 0.82, 0.165, 1);
        margin: 0px;
        margin-right: 25px;
        opacity: .5;

        &.title-fade-in {

            &::after,
            &::before {
                opacity: 1;
            }
        }

        &::after {
            //transition: .5s;
            position: absolute;
            content: var(--ats-title);
            left: calc(100% + var(--ats-title-left));
        }

        &::before {
            //transition: .5s;
            position: absolute;
            content: var(--ats-title);
            left: calc((100% + var(--ats-title-left)) * 2);
        }

        &.active-tab {
            opacity: 1;



            &::after,
            &::before {
                opacity: .5;
            }
        }
    }
}

#settings-pages {
    flex-grow: 1;
    height: 0px;

    .settings-pages-container {
        width: max-content;
        height: 100%;

        .settings-page {
            transform-style: preserve-3d !important;
            perspective: var(--flow-perspective);
            transition: opacity .25s cubic-bezier(0.075, 0.82, 0.165, 1);
            height: 100%;
            float: left;
            width: calc(100vw - 22px * 2);
            opacity: 0;
            overflow: hidden;

            &:not(.original) {
                visibility: hidden;
                //opacity: 0 !important;
            }

            &:not(.active-page) {

                *,
                & {
                    pointer-events: none !important;
                }
            }

            &.active-page {
                --page-swipe-translate: 0px;
                animation: page-swipe-translate .5s cubic-bezier(0.075, 0.82, 0.165, 1);

                @keyframes page-swipe-translate {
                    from {
                        transform: translate(var(--page-swipe-translate));
                    }

                    to {
                        transform: translate(0px);
                    }
                }

                opacity: 1;


                p.groove-list-view-item-description {
                    animation: groove-list-view-item-description-page-skew .75s cubic-bezier(0.075, 0.82, 0.165, 1);

                    @keyframes groove-list-view-item-description-page-skew {
                        from {
                            transform: translateX(calc(var(--page-swipe-direction) * 150px));
                        }

                        to {
                            transform: translateX(0px);
                        }
                    }
                }
            }
        }
    }
}

p.text {
    font-size: 22px;
    //word-spacing: -3px;
}

.article-f {

    &,
    * {
        //word-spacing: 0px !important;
    }
}

.group {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    transform-style: preserve-3d;

    p.group-title {
        color: rgb(153, 153, 153);
        font-size: 20px;
        margin: 6px 0px;
    }

    p.group-description {
        color: rgb(153, 153, 153);
        font-size: 20px;
        margin: 6px 0px;
        margin-top: 0px;
    }

    &:not(div:nth-child(2)):not(.first-group) {
        margin-top: 22px;
    }

    &.first-group {
        margin-top: 0px !important;
    }
}



.color-picker {
    height: 48px;
    text-transform: lowercase;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    &.t_active {
        //box-shadow: inset 0px 0px 0px 3px var(--accent-color);
        background-color: var(--accent-color);
        //color: black;
    }

    @include flow-touch;
    box-shadow: inset 0px 0px 0px 3px var(--metro-foreground);
    position: relative;

    .picker-example {
        width: 20px;
        height: 20px;
        background: var(--accent-color);
        margin: 14px 10px;
        pointer-events: none
    }


    .picker-option {
        @include flow-touch;
        transition: margin .2s ease-in;
        font-size: 25px;
        margin: 7px 3px;
        pointer-events: none;

        align-items: center;
        display: flex;
        flex-grow: 1;
    }



}

.tile-selector {
    display: flex;
    margin-bottom: 30px;

    p {
        flex-grow: 1;
        font-size: 30px;
        margin: 0px;
        font-weight: 300;
    }

    div {}
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

#accent-color-picker {
    pointer-events: none;
    background: transparent;
    left: -22px;
    position: fixed;
    top: -18px;
    width: calc(100% + 44px);
    height: calc(100% + 36px);
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;

    * {
        color: transparent;
    }

    &>div.accent-color-catalogue>div>div {
        transform: perspective(calc(var(--flow-perspective) * 2)) rotateX(90deg);
    }

    &.shown-animation {
        &>div.accent-color-catalogue>div>div {
            transition: .075s calc(var(--index)*.02s) ease-out;
        }

        &.shown {
            &>div.accent-color-catalogue {
                animation: enable-overflow .5s steps(1) forwards;

                @keyframes enable-overflow {
                    from {
                        overflow: visible;
                    }

                    to {
                        overflow: hidden;
                    }
                }
            }

            &>div.accent-color-catalogue>div>div {
                transform: perspective(calc(var(--flow-perspective) * 2)) rotateX(0deg);
            }

            pointer-events: all;
            background: rgb(31, 31, 31);

            body.light-mode & {
                background: rgb(221, 221, 221);
            }

            * {
                color: white;

                body.light-mode & {
                    color: black;
                }
            }
        }

        &.hidden {

            &>div.accent-color-catalogue>div>div {
                transition: .075s calc(var(--index)*.02s) ease-in;
                transform: perspective(calc(var(--flow-perspective) * 2)) rotateX(-90deg);

            }

            background: transparent;

            * {
                color: transparent;
            }
        }

        transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1),
        color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;

    z-index: 2;
    padding: 18px 22px;
    align-items: center;
    justify-content: center;

    &.hidden {
        .accent-color-catalogue-item {
            transform: translate(0px) !important;
        }
    }

    h1.app-title {
        max-width: 724px;
        width: 100%;
    }

    div.accent-color-catalogue {
        height: 0px;
        max-width: 724px;
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        &>div {
            transform-style: preserve-3d;

            &>div {
                transform-style: preserve-3d;
                display: flex;
                flex-direction: row;
                margin: 0px -5px;

                div.accent-color-catalogue-item {
                    @include flow-touch;
                    flex-grow: 1;
                    aspect-ratio: 1;
                    margin: 6px;
                }
            }
        }
    }
}

#device-placeholder {
    width: 100%;
    max-width: 430px;
    height: min-content;
    position: relative;

    svg {
        &:nth-child(1) {
            body.light-mode & {
                filter: invert(1);
            }

            width: 100%;
            height: auto;
        }

        &:not(:nth-child(1)) {
            position: absolute;
            left: calc(40/430*100%);
            bottom: 3px;
            width: calc(350/430*100%);
            height: auto;
            visibility: hidden;

            &.selected {
                visibility: visible;
            }
        }
    }
}

#settings-pages>div>div.settings-page.first-page.original.active-page>div {
    perspective: var(--flow-perspective);
}

#about-app-name,
#about-app-version,
#about-webview-version {
    font-weight: 300;
}

#about-app-name {

    margin-bottom: 0px;
}

#about-app-version {
    margin: 0px;
}

#about-webview-version {
    margin-top: 0px;
    margin-bottom: 40px;
}

#wallpaper-group {
    margin-top: 45px;
    margin-bottom: 65px;

    p.group-title {
        margin-left: 5px;
    }


    button.metro-button.link {
        padding: 0px;
    }

    padding-left: 170px;
}

#wallpaper-thumbnail {
    position: absolute;
    left: 0px;
    width: 160px;
    height: 160px;
    background: rgb(127, 127, 127, .4);
    background-position: center;
    background-size: cover;
}

div.group {
    margin-top: 22px;
}

div.bscroll-vertical-scrollbar {
    width: 3px !important;
    right: 2px !important;

    div.bscroll-indicator {
        border: none !important;
        background: #666666 !important;

        body.light-mode & {
            background: #A6A6A6 !important;
        }
    }
}

div.credit-item {
    font-weight: 300;
    font-size: 24px;
    display: flex;
    transform-style: preserve-3d;
    margin: 15px 0px;

    p {
        padding: 0px;
        margin: 0px;

        span {
            //margin: 0px 10px;
            opacity: .5;
            font-size: 15px;
            display: block;
        }
    }

    p:first-child {
        flex-grow: 1;
    }

    p:last-child {
        @include flow-touch;
        color: var(--accent-color);
    }

    &:last-of-type {
        margin-bottom: 30px;

    }

    &:first-of-type {
        margin-top: 0px;
    }
}

.groove-list-view {
    transform-style: preserve-3d;

    div.groove-list-view-item {
        @include flow-touch;

        &.hidden {
            display: none;
        }

        p.groove-list-view-item-title {
            margin: 0px;
            padding: 0px;
            font-size: 36px;
            font-weight: 300;
            margin-top: 5px;
            pointer-events: none;
        }

        p.groove-list-view-item-description {
            margin: 0px;
            padding: 0px;
            margin-bottom: 18px;
            opacity: 0.6;
            font-size: 19px;
            margin-top: -5px;
            pointer-events: none;
        }

        &.single-line {
            margin-bottom: 40px;
        }
    }
}

.scroller {
    transform-style: preserve-3d;
}

body:not(.soft-exit):not(.soft-exit-home) {
    .hidden-page {
        &.innerApp {
            animation: app-outro-animation-2 0.15s cubic-bezier(0.83, 0, 0.92, 0.18) forwards !important;

        }

        &.innerAppPage {
            animation: app-outro-animation 0.15s cubic-bezier(0.83, 0, 0.92, 0.18) forwards !important;

        }

        pointer-events: none !important;

        * {
            pointer-events: none !important;
        }
    }

    .shown-page {
        &.innerApp {
            animation: app-intro-animation-2 .5s .25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important;

        }

        &.innerAppPage {
            animation: app-intro-animation .5s .25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important;

        }

        pointer-events: all !important;
    }

    .shown-page-no-anim {
        pointer-events: all !important;
        opacity: 1;
        animation: none !important;
    }
}

#about-tab {
    div.double-buttons {
        display: flex;
        margin-bottom: 30px;
        max-width: 768px;
        transform-style: preserve-3d;

        button {
            width: 0px;
            flex-grow: 1;
            text-align: center;

            img {
                display: none;

                body:not(.light-mode) & {
                    filter: invert(1);
                }

                position: absolute;
                left: calc(50% - 17.5px);
                top: calc(50% - 17.5px);
                width: 35px;
                height: 35px;
            }

            &.loading {
                color: transparent;

                img {
                    display: block;
                }
            }
        }
    }
}

#home-tab>div:nth-child(1)>div {
    p.groove-list-view-item-title {
        text-transform: lowercase;
    }
}

button.metro-button.spinner {
    img {
        display: none;

        body:not(.light-mode) & {
            filter: invert(1);
        }

        position: absolute;
        left: calc(50% - 17.5px);
        top: calc(50% - 17.5px);
        width: 35px;
        height: 35px;
    }

    &.loading {
        color: transparent;

        img {
            display: block;
        }
    }

    &:not(.loading) {
        img {
            display: none;
        }
    }
}

#language-tab>div.groove-list-view>div.groove-list-view-item.selected {
    p.groove-list-view-item-title {
        color: var(--accent-color);
    }

    order: -1;

}

#language-tab>div.groove-list-view {
    div.groove-list-view-item {
        transition: transform var(--flow-touch-up-transition) ease-out, height .2s ease-in !important;
        height: 83px;

        &.active {
            transition: transform var(--flow-touch-down-transition) ease-in-out, height .2s ease-in !important;

        }

        div.expanded-panel {
            animation: collapse-panel .2s ease-in-out forwards;

            @keyframes collapse-panel {
                0% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }

        div.expanded-panel {
            transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            position: relative;
        }

        &.expanded {
            height: 192px;

            div.expanded-panel {
                animation: expand-panel .2s ease-in forwards;
                transform: perspective(var(--flow-perspective)) rotateX(-0deg);
                transform-origin: 50% -25%;
                @keyframes expand-panel {
                    from {
                        transform: perspective(var(--flow-perspective)) rotateX(-90deg);
                    }

                    to {
                        transform: perspective(var(--flow-perspective)) rotateX(-0deg);
                    }
                }
            }
        }
    }
}