@font-face {
    font-family: GrooveIcon;
    src: url(./../../assets/fonts/GrooveIcon.ttf);
  }
  
  @font-face {
    font-family: Selawik;
    src: url(./../../assets/fonts/SelawikVF.ttf);
  }
  
  @font-face {
    font-family: NotoSans;
    src: url(./../../assets/fonts/NotoSans.ttf);
  }
  
  @font-face {
    font-family: OpenSans;
    src: url(./../../assets/fonts/OpenSans.ttf);
  }
  
  @font-face {
    font-family: IconGlyphs;
    src: url(./../../assets/fonts/icons.ttf);
  }
  
  @font-face {
    font-family: SymbolsNerd;
    src: url(./../../assets/fonts/SymbolsNerd.ttf);
  }
  
  @font-face {
    font-family: 'NotoCustom';
    src: url('./../../assets/fonts/NotoCustom/NotoSans-Black.ttf') format('truetype');
    font-weight: 900;
  }
  
  @font-face {
    font-family: 'NotoCustom';
    src: url('./../../assets/fonts/NotoCustom/NotoSans-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'NotoCustom';
    src: url('./../../assets/fonts/NotoCustom/NotoSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'NotoCustom';
    src: url('./../../assets/fonts/NotoCustom/NotoSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'NotoCustom';
    src: url('./../../assets/fonts/NotoCustom/NotoSans-Light.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'NotoCustom';
    src: url('./../../assets/fonts/NotoCustom/NotoSans-Medium.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'NotoCustom';
    src: url('./../../assets/fonts/NotoCustom/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'NotoCustom';
    src: url('./../../assets/fonts/NotoCustom/NotoSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'NotoCustom';
    src: url('./../../assets/fonts/NotoCustom/NotoSans-Thin.ttf') format('truetype');
    font-weight: 100;
  }