:root {
    --flow-perspective: 9999999999px;
}

* {
    transform-style: flat !important;
    perspective: 9999999999px;
    --flow-rotate-scale: 0px !important;
    --flow-touch-distance: 0px;
    --shake-x: 0px !important;
    --shake-y: 0px !important;
}

#app {

    div.groove-home-tile,
    div.groove-app-tile,
    div.letter-selector-letter {
        &.t_active {
            transform: scale(.95);
        }
    }

    div.tile-list-page {
        max-width: none;
        mix-blend-mode: normal !important;
        box-shadow: none !important;
        background: transparent !important;
    }

    div.slide-page-home.wallpaper-behind {
        div.groove-home-tile {
            background: transparent !important;
            --metro-transparent-2: var(--accent-color);

            div.live-tile-matrix-container {
                background: var(--accent-color);
            }
        }

        background-size: cover !important;
    }

    div.app-page-icon-banner {
        background: transparent !important;
    }
    #main-home-slider {
        div.slide-page-home.wallpaper-behind {
            background-size: cover !important;
            transition: opacity calc(.5s * var(--animation-duration-scale));
        }

        &.app-transition-on-pause {
            div.slide-page-home.wallpaper-behind {
                transition: opacity calc(.25s * var(--animation-duration-scale)) calc(.5s * var(--animation-duration-scale));
                opacity: 0;
            }
        }
    }
}

@keyframes live-tile-matrix-tile-flip {
    0% {
        animation-timing-function: ease-in;
    }

    9.99% {
        animation-timing-function: ease-in;
        transform: scaleY(0);
    }

    10% {
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: scaleY(0);
    }

    100% {
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

@keyframes tileListAppTransitionAnim0 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

@keyframes tileListAppTransitionAnim1 {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes tileListAppTransitionAnim2 {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appListAppTransitionAnim0 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

@keyframes innerTileListAppTransitionAnim0 {
    0% {
        transform: none;
    }

    100% {
        transform: none;
    }
}