:root {
    --flow-touch-distance: -10px;
    --flow-rotate-scale: .25;
    --flow-touch-down-transition: calc(.025s * var(--animation-duration-scale));
    --flow-touch-up-transition: calc(.25s * var(--animation-duration-scale));
    --flow-perspective: 1000px; //calc(min(100vw, 100vh));
    --flow-ease-out: cubic-bezier(.25, 1, .25, 1);
}


@mixin flow-touch {
    transition: transform var(--flow-touch-up-transition) ease-out;
    --flow-touch: true;
    --flow-before-translate: 0px, 0px;
    --flow-after-translate: 0px, 0px;
    --flow-rotate-x: 0deg;
    --flow-rotate-y: 0deg;
    transform: translate(var(--flow-before-translate)) translateZ(0px) rotateZ(calc(var(--flow-rotate-y) * -1)) rotateX(0deg) rotateZ(var(--flow-rotate-y)) translate(var(--flow-after-translate));

    //  &:active,
    &.active {
        transition: transform var(--flow-touch-down-transition) ease-in-out !important;
        transform: translate(var(--flow-before-translate)) translateZ(var(--flow-touch-distance)) rotateZ(calc(var(--flow-rotate-y) * -1)) rotateX(calc(var(--flow-rotate-x) * var(--flow-rotate-scale))) rotateZ(var(--flow-rotate-y)) translate(var(--flow-after-translate));
    }
}

@mixin flow-touch-disabled {
    transition: transform var(--flow-touch-up-transition) ease-out !important;
    --flow-touch: false;

    //  &:active,
    &.active {
        transition: transform var(--flow-touch-down-transition) ease-in-out !important;
        transform: none !important;
    }
}

.flow-touch,
.flow-touch-container>* {
    @include flow-touch;
}

@mixin metro-text-input {
    border: none;
    height: 48px;
    box-sizing: border-box;
    background: rgb(206, 207, 206);
    color: black;

    &:focus {
        background: white;
        box-shadow: inset 0px 0px 0px 4px var(--accent-color);

        &::placeholder {
            //color: transparent;
        }
    }

    font-size: 23px;
    padding: 10px;
}

@mixin metro-button {
    @include flow-touch;
    padding: 10px 20px;
    display: block;
    margin: 5px;
    background: var(--metro-background);
    color: var(--metro-foreground);
    border: none;
    box-shadow: inset 0px 0px 0px 3px var(--metro-foreground);
    font-size: 20px;
    text-transform: lowercase;
    text-align: left;
    width: max-content;
    height: min-content;
    max-width: calc(100% - 5px);

    &.t_active {
        background: var(--accent-color);
        color: white;
    }

    &.link {
        box-shadow: none !important;
        text-decoration: underline;
        background: transparent !important;
        color: var(--metro-foreground) !important;

        &.t_active {
            color: var(--accent-color) !important;
        }
    }

}

@mixin metro-range-input {
    position: relative;
    --flow-metro-range-input: true;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 12px;
    background: var(--metro-elevated);
    background: linear-gradient(90deg, var(--accent-color) var(--percentage), var(--metro-elevated) var(--percentage));
    --percentage: 0%;
    --step: 1%;
    outline: none;

    &::after {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        //background-color: blue;
        background: linear-gradient(-90deg, var(--metro-background) 2px, transparent 2px);
        background-size: var(--step) 100%;

    }

    &::-webkit-slider-thumb {
        position: relative;
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 24px;
        background: var(--metro-foreground);
        z-index: 10;
    }

    &::-moz-range-thumb {
        position: relative;
        width: 12px;
        height: 24px;
        background: var(--metro-foreground);
        z-index: 10;
    }
}

.metro-text-input {
    @include metro-text-input();
}

.metro-button {
    @include metro-button;
}

.metro-range-input {
    @include metro-range-input;
}

.metro-toggle-switch {
    --transition: 0;
    --transition-flick: 0;

    &[checked] {
        --transition: 1;
        --transition-flick: 0;
    }

    background: var(--metro-background);
    display: block;
    position: relative;
    width: 93px;
    height: 38px;
    box-shadow: inset 0px 0px 0px 2px var(--metro-background),
    inset 0px 0px 0px 5px var(--metro-foreground),
    inset 0px 0px 0px 9px var(--metro-background);
    background: linear-gradient(90deg, var(--accent-color) calc(9px + (var(--transition) + var(--transition-flick)) * 75px), var(--metro-background) calc(9px + (var(--transition) + var(--transition-flick)) * 75px));

    &::after {
        display: block;
        content: "";
        width: 20px;
        height: 38px;
        background: var(--metro-foreground);
        box-shadow: 0px 0px 0px 4px var(--metro-background);
        position: absolute;
        left: calc(2px + var(--transition)* 69px);
        transform: translateX(calc(2px + var(--transition-flick)* 69px));

    }

    &.t_active {
        &::after {
            transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}

.metro-dropdown-menu {
    height: 48px;
    text-transform: lowercase;
    overflow: hidden;

    perspective: var(--flow-perspective);

    &.t_active,
    &.clicked {
        box-shadow: inset 0px 0px 0px 3px var(--accent-color);
        background-color: white;
        color: black;
    }

    @include flow-touch;
    box-shadow: inset 0px 0px 0px 3px var(--metro-foreground);
    position: relative;

    &:not(.active) {
        transition: transform var(--flow-touch-up-transition) ease-out, height calc(.2s * var(--animation-duration-scale)) ease-in !important;
    }

    &.active {
        transition: transform var(--flow-touch-down-transition) ease-in-out, height calc(.2s * var(--animation-duration-scale)) ease-in !important;

    }

    &.clicked {
        height: 112px;


        .metro-dropdown-option {
            pointer-events: all !important;
            margin: 0px 10px;
            height: 56px;
        }
    }

    &:not(.clicked) {
        .metro-dropdown-option {
            pointer-events: none;
        }
    }

    .metro-dropdown-option {
        @include flow-touch;
        //transition: var(--flow-touch-up-transition) ease-out, transform var(--flow-touch-up-transition) ease-out, height .2s ease-in, margin-top .2s ease-in;
        transition: transform var(--flow-touch-up-transition) ease-out, height calc(.2s * var(--animation-duration-scale)) ease-in, margin-top calc(.2s * var(--animation-duration-scale)) ease-in;
        font-size: 25px;
        margin: 0px 10px;
        height: 48px;
        display: flex;
        align-items: center;

        span,
        & {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }



}

.metro-progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background: rgb(127, 127, 127, .2);
    --value: 0;
    --value-2: 0;
    --value-color: var(--accent-color);
    --value-2-color: var(--accent-color);

    &::after {
        position: absolute;
        z-index: 1;
        transition: width calc(.2s * var(--animation-duration-scale)) ease-in-out;
        content: "";
        display: block;
        width: calc(var(--value) * 100%);
        height: 100%;
        background: var(--value-color);
    }

    &::before {
        position: absolute;
        z-index: 2;
        transition: width calc(.2s * var(--animation-duration-scale)) ease-in-out;
        content: "";
        display: block;
        width: calc(var(--value-2) * 100%);
        height: 100%;
        background: var(--value-2-color);
    }
}
:root{
    --app-intro-animation: app-intro-animation;
    --app-intro-animation-2: app-intro-animation-2;
    --app-outro-animation: app-outro-animation;
    --app-outro-animation-2: app-outro-animation-2;
}
@keyframes app-intro-animation {
    0% {
        transform: rotateY(75deg) translateX(100px);
        transform-origin: 0px 50%;
        opacity: 1;

    }

    100% {
        transform: rotateY(0deg) translateX(0px);
        ;
        transform-origin: 0px 50%;

        opacity: 1;
    }
}

@keyframes app-intro-animation-2 {
    0% {
        transform: rotateY(-75deg) translateX(-100px);
        transform-origin: 0px 50%;
        opacity: 1;

    }

    100% {
        transform: rotateY(0deg) translateX(0px);
        ;
        transform-origin: 0px 50%;

        opacity: 1;
    }
}

@keyframes app-outro-animation {
    100% {
        transform: rotateY(150deg) translateX(200px);
        transform-origin: 0px 50%;
        opacity: 0;

    }

    99.99% {
        opacity: 1;
    }

    0% {
        transform: rotateY(0deg);
        transform-origin: 0px 50%;

        opacity: 1;
    }
}

@keyframes app-outro-animation-2 {
    100% {
        transform: translateX(-25vw) rotateY(-30deg);
        transform-origin: 0px 50%;
        opacity: 0;

    }

    99.99% {
        opacity: 1;
    }

    0% {
        transform: rotateY(0deg);
        transform-origin: 0px 50%;

        opacity: 1;
    }
}


div.groove-element {
    &.groove-app-bar {
        &.expanded {
            div.groove-app-bar-top {
                div.groove-app-bar-item {
                    height: 102px;

                    p.groove-app-bar-item-title {
                        transition: opacity 0s;
                        opacity: 1;
                    }
                }
            }
        }

        &.jump-up {
            transition: .2s var(--flow-ease-out);
            div.groove-app-bar-top {
                animation: groove-app-bar-jump-up .4s .05s cubic-bezier(.2, 1.75, .6, 1) forwards;
                opacity: 0;
            }

            @keyframes groove-app-bar-jump-up {
                from {
                    transform: translateY(72px);
                    opacity: 1;
                }

                to {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }

        div.groove-app-bar-top,
        div.groove-app-bar-bottom {
            display: flex;
            transform-style: preserve-3d;
        }

        div.groove-app-bar-top {
            flex-direction: row;
            justify-content: center;
        }

        div.groove-app-bar-toggle {
            position: absolute;
            right: 0px;
            top: 0px;
            height: 100%;
            width: 75px;
            z-index: 10;

            svg {
                pointer-events: none;
                fill: var(--metro-foreground);
                width: 25px;
                position: absolute;
                top: 12px;
                right: 25px;
            }
        }

        perspective: var(--flow-perspective);
        perspective-origin: 50% calc(100% - 50vh);
        background-color: var(--metro-app-bar);
        position: fixed;
        bottom: 0px;
        padding-bottom: var(--window-inset-bottom, 0px);
        box-sizing: border-box;
        left: 0px;
        width: 100%;
        transition: .5s var(--flow-ease-out);

        &.hidden {
            transform: translateY(100%);
        }

        div.groove-app-bar-top {
            div.groove-app-bar-item {
                transform-style: preserve-3d;
                @include flow-touch;
                transition: height .2s var(--flow-ease-out), transform var(--flow-touch-up-transition) ease-out;
                width: calc(48px + 37px);
                height: 72px;

                p.groove-app-bar-item-title {
                    transition: opacity 0s .2s;
                    opacity: 0;
                    margin: 0px;
                    position: absolute;
                    top: 66px;
                    left: 0px;
                    width: 100%;
                    text-align: center;
                    font-size: 13px;
                }

                * {
                    pointer-events: none;
                }

                &.e_active {
                    div.groove-app-bar-icon-frame {
                        background-color: var(--accent-color);
                        box-shadow: inset 0px 0px 0px 3px var(--accent-color);
                    }
                }

                div.groove-app-bar-icon-frame {
                    position: absolute;
                    left: calc(37px / 2);
                    top: 12px;
                    transform-style: preserve-3d;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    box-sizing: border-box;
                    box-shadow: inset 0px 0px 0px 3px var(--metro-foreground);
                    background-color: var(--metro-app-bar);

                    p.groove-app-bar-item-icon {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 100%;
                        height: 100%;
                        font-size: 23px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0px;
                        padding: 0px;
                    }
                }
            }
        }

    }
}

.flow-native-scroll {
    &.flow-slide {
        scroll-snap-type: x mandatory;

        &>*:first-child {
            width: max-content;
        }

        overflow: auto hidden;

        &::-webkit-scrollbar {
            display: none;
        }

        &,
        & * {
            touch-action: pan-x;
        }

        &>*:first-child>* {
            overflow: hidden;
            scroll-snap-align: center;
            scroll-snap-stop: always;
        }
    }

    &.flow-scroll {
        overflow: hidden auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}