:root {
    --flow-touch-distance: -3px;
    --flow-rotate-scale: .06;
    --flow-touch-down-transition: .025s;
    --flow-touch-up-transition: .25s;
    --flow-perspective: 250px; //calc(min(100vw, 100vh));
}


@mixin flow-touch {
    transition: transform var(--flow-touch-up-transition) ease-out;
    --flow-touch: true;
    --flow-rotate-scale: .1;
    --flow-before-translate: 0px, 0px;
    --flow-after-translate: 0px, 0px;
    --flow-rotate-x: 0deg;
    --flow-rotate-y: 0deg;
    transform: translate(var(--flow-before-translate)) translateZ(0px) rotateZ(calc(var(--flow-rotate-y) * -1)) rotateX(0deg) rotateZ(var(--flow-rotate-y)) translate(var(--flow-after-translate));

    //  &:active,
    &.active {
        transition: transform var(--flow-touch-down-transition) ease-in-out !important;
        transform: translate(var(--flow-before-translate)) translateZ(var(--flow-touch-distance)) rotateZ(calc(var(--flow-rotate-y) * -1)) rotateX(calc(var(--flow-rotate-x) * var(--flow-rotate-scale))) rotateZ(var(--flow-rotate-y)) translate(var(--flow-after-translate));
    }
}

@mixin flow-touch-disabled {
    transition: transform var(--flow-touch-up-transition) ease-out !important;
    --flow-touch: false;

    //  &:active,
    &.active {
        transition: transform var(--flow-touch-down-transition) ease-in-out !important;
        transform: none !important;
    }
}

.flow-touch,
.flow-touch-container>* {
    @include flow-touch
}