@font-face {
  font-family: NotoSans;
  src: url(./../../assets/fonts/NotoSans.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(./../../assets/fonts/OpenSans.ttf);
}
@font-face {
  font-family: IconGlyphs;
  src: url(./../../assets/fonts/icons.ttf);
}
@font-face {
  font-family: SymbolsNerd;
  src: url(./../../assets/fonts/SymbolsNerd.ttf);
}
