body {
    --ui-scale: 1;
    --window-raw-inset-left: 0px;
    --window-raw-inset-top: 0px;
    --window-raw-inset-right: 0px;
    --window-raw-inset-bottom: 0px;
    --window-inset-left: calc(var(--window-raw-inset-left) / var(--ui-scale));
    --window-inset-top: calc(var(--window-raw-inset-top) / var(--ui-scale));
    --window-inset-right: calc(var(--window-raw-inset-right) / var(--ui-scale));
    --window-inset-bottom: calc(var(--window-raw-inset-bottom) / var(--ui-scale));
}

.system-bar {
    position: fixed;
    z-index: 10;
    left: 0px;
    width: 100%;
    height: 0px;
    pointer-events: none;

    &.system-status-bar {
        top: 0px;
        height: var(--window-inset-top);
    }

    &.system-navigation-bar {
        bottom: 0px;
        height: var(--window-inset-bottom);
        display: flex;
        pointer-events: all !important;
        z-index: 9999999;
        padding: 0px 20px;
        box-sizing: border-box;
        button {
            flex-grow: 1;
            background-size: auto 75% !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            border: none;
            background-color: transparent;
            &:active{
                opacity: .5;
            }
        }
    }

    &.system-bar-preview {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 999999;

        body.groove-mock & {
            background-color: rgb(red, 0.5);
        }

        --left: var(--window-inset-left);
        --top: var(--window-inset-top);
        --right: var(--window-inset-right);
        --bottom: var(--window-inset-bottom);
        clip-path: polygon(0% 0%, 0% 100%, var(--left) 100%, var(--left) var(--top), calc(100% - var(--right)) var(--top), calc(100% - var(--right)) calc(100% - var(--bottom)), var(--left) calc(100% - var(--bottom)), var(--left) 100%, 100% 100%, 100% 0%);
    }
}

.status-bar-mock {
    position: fixed;
    z-index: 11;
    left: 0px;
    width: 100%;
    height: 0px;
    top: 0px;
    height: var(--window-inset-top);
    background: var(--metro-background);
}