<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.GrooveLauncher">
        
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.GrooveLauncher"
            tools:replace="android:theme" />
            
    </application>

</manifest>