@import "./styles/loader.scss";

@import "./styles/pages/appList.scss";
@import "./styles/pages/tileList.scss";
@import "./styles/appTransition.scss";
@import "./styles/colors.scss";
@import "./styles/flowProperties.scss";
@import "./styles/fonts.scss";
@import "./styles/systemBars.scss";

body,
html {
  color-scheme: dark;
  background: black;
  color: white;
  perspective: var(--flow-perspective);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;

}

img {
  text-indent: -10000px
}

* {
  font-family:  SymbolsNerd, IconGlyphs, OpenSans, sans-serif;
  word-spacing: -6px;
  letter-spacing: -.5px;
  touch-action: none;
  user-select: none;
  user-drag: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  outline: transparent;
  cursor: default !important;
}

#main-home-slider {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  .slide-content {
    display: flex;
    height: 100%;

    .slide-page {
      perspective: var(--flow-perspective);
      position: relative;
      display: flex;
      justify-content: center;

      .inner-page {
        position: relative;
        width: 100%;
        max-width: 768px;

        &>div.container {
          min-height: 100vh;
        }
      }
    }
  }
}

.transform-3d {
  transform-style: preserve-3d !important;
}

.transform-flat {
  transform-style: flat;
}

