@import "./styles/loader.scss";

@import "./styles/pages/appList.scss";
@import "./styles/pages/tileList.scss";
@import "./styles/pages/welcome.scss";
@import "./styles/appTransition.scss";
@import "./styles/colors.scss";
@import "./styles/flowTouch.scss";
@import "./styles/fonts.scss";
@import "./styles/systemBars.scss";

body,
html {
  color-scheme: dark;
  background: var(--metro-background);
  color: var(--metro-foreground);
  perspective: var(--flow-perspective);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;

}

body {
  &.reduced-motion {

    *,
    & {
      //perspective: none !important;
      --flow-perspective: 9999999px !important;
      --shake-x: 0px !important;
      --shake-y: 0px !important;
    }
  }
}

img {
  text-indent: -10000px
}

* {
  font-family: SymbolsNerd, OpenSans;

  body.font-1 & {
    font-family: SymbolsNerd, NotoSans;
  }

  body.font-2 & {
    font-family: SymbolsNerd, CustomFont, OpenSans;
  }

  touch-action: none;
  user-select: none;
  user-drag: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  outline: transparent;
  cursor: default !important;
}

#main-home-slider {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  &.visibility-hidden {

    &,
    * {
      visibility: hidden !important;
    }
  }

  .slide-content {
    display: flex;
    height: 100%;

    .slide-page {
      perspective: var(--flow-perspective);
      position: relative;
      display: flex;
      justify-content: center;

      .inner-page {
        position: relative;
        width: 100%;
        max-width: 768px;

        &>div.container {
          min-height: 100vh;
        }
      }
    }
  }
}

.transform-3d {
  transform-style: preserve-3d !important;
}

.transform-flat {
  transform-style: flat;
}

iframe.groove-element.groove-app-view {
  position: fixed;
  z-index: 10;
  border: none;
  left: var(--window-inset-left);
  top: var(--window-inset-top);
  box-shadow: 0px calc(var(--window-inset-top) * -1) var(--metro-background), 0px var(--window-inset-bottom) var(--metro-background);
  width: calc(100vw - var(--window-inset-left) - var(--window-inset-right));
  height: calc(100vh - var(--window-inset-top) - var(--window-inset-bottom));
}

div.bscroll-vertical-scrollbar {
  width: 3px !important;
  right: 2px !important;
  position: absolute;
  z-index: 999;

  div.bscroll-indicator {
    border: none !important;
    background: #666666 !important;

    body.light-mode & {
      background: #A6A6A6 !important;

    }
  }
}